.title {
  margin-top: 3em;
}
.inputs__div {
  /* width: 80%; */
  /* border: 1px solid black; */
}
/* Input Field CSS */
.input {
  width: 2.6em;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
/* CSS For timer and wrong OTP alert */
.wrong,
.timer {
  color: red;
}
.resend {
  color: green;
}

.right {
  color: green;
}

.wrongVal {
  border: 2px solid red;
}

.rightVal {
  border: 2px solid green;
}
.row {
  display: flex;
  justify-content: space-between;
}
/* Resend button CSS */
.resendBtn {
  float: left;
  margin-right: 11em;
}
